/* Style pour la navbar */
.nav {
    background-color: olive; 
    padding: 10px 0; 
}

/* Style pour le logo */
.navbar-logo img {
    width: 100px; 
    height: auto; 
}

/* Style pour les liens de navigation */

.navbar-nav .nav-link {
    color: wheat; 
    margin: 0 15px; 
    text-align: center;
}

.navbar-nav .nav-link:hover {
    background-color: wheat; 
    color: olive;
}

